{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Créez une Nouvelle catégorie d'âge</h1>

    {{ include('back/categorie/_form.html.twig') }}

    <a class="btn btn-success text-light" href="{{ path('app_categorie_index') }}">Retour à la listet</a>
{% endblock %}
