{% extends 'base.html.twig' %}

{% block title %}Edit Personne{% endblock %}

{% block body %}
    <h1>Edit Personne</h1>

    {{ include('back/personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personne_index') }}">back to list</a>

    {{ include('back/personne/_delete_form.html.twig') }}
{% endblock %}
