{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Créez une Personne{% endblock %}

{% block body %}
    <h1>Enregistrez une nouvelle personne</h1>

    {{ include('back/personne/_form.html.twig') }}

    <a class="btn btn-danger text-light" href="{{ path('app_personne_index') }}">Retour</a>
{% endblock %}
