{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('front/_form_inscription.html.twig') }}

    <a href="{{ path('accueil') }}">Annuler</a>
{% endblock %}
