{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Back Office
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Back-Office</h1>
	<p>
		<a class="btn btn-success text-light" href="{{path('app_user_index')}} "> Voulez-vous voir les utilisateurs ?</a>
	</p>
	<p>
		<a class="btn btn-info text-light" href="{{path('app_licencie_index')}} "> Voulez-vous voir les licenciés ?</a>
	</p>
	<p>
		<a class="btn btn-warning text-light" href="{{path('app_personne_index')}} "> Voulez-vous voir les personnes enregistrées ?</a>
	</p>
{% endblock %}

